html {
    font-family: arial, sans-serif;
    color: #000000;
    text-align: center;
}

table {
    border: 1px solid #485F6E;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}

#index {
    margin-top: 3%;
}

th {
    background-color: #73a9dd;
    border: 1px solid #090a43;
    text-align: center;
    padding: 16px;
}

td {
    text-align: left;
    padding: 10px;
    border: 1px solid #090a43;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    font-size: 3em;
    text-decoration: none;
}

a:visited { text-decoration: none; color: #000000; }


input[type=submit] {
    float: right;
}

#problem {
    color: #9C1A1C;
}

